@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

* {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.text-drop-shadow {
    filter: drop-shadow(0 8px 8px rgba(135, 98, 4, 0.75));
}

.underlined-caption::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
}

.homepage-discount-pic {
    filter: drop-shadow(4px 4px 4px #76000066);
}

.background {
    z-index: -1;
    background: url('/src/images/backgr-avg2_opac30-2.jpg') repeat;
    background-size: contain;
}

.children-hover-gray a {
    display: block;
    margin: .5rem 0 .5rem 0;
}

.children-hover-gray a:hover {
    color: gray;
}

.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 2px dashed #ca238d;
}

.bound-layout {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    width: calc(100% - 60px);
    max-width: 1080px;
}

.bound-layout::before,
.bound-layout::after {
    display: table;
}

.timeline-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.timeline-row.reverse {
    flex-direction: row-reverse;
}

.timeline-row::before{
    content: '';
    display: block;
    position: absolute;
    top: 38px;
    left: calc(50% - 12px); /*минус половина ширины, но это оказалось многовато, на мой вкус*/
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 2px solid #97057c;
    background: linear-gradient(#ca238d, #ffbc13);
}

.timeline-row > * {
    flex-basis: 43%;
}

h2.timeline-header {
    border-top: 2px solid #97057c;
    border-bottom: 2px solid #97057c;
    padding: 2rem 0;
    margin-bottom: 1rem;
}


.products-page-grid {
    --border-color: #c4b5fd;
    --border-size: 2px;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(0, 211px));
    grid-template-rows: repeat(auto-fill);
    grid-gap: 1px;
    display: grid;
    max-width:800px;
}

@media screen and (max-width: 1100px) {
    .products-page-grid{
        grid-template-columns: repeat(3, minmax(0, 211px));

    }
}

.products-page-grid > div {
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 0 1px var(--border-color);
  }

.product-grid-page-select {
    padding: .25rem .5rem;
    margin: 0 .5rem;
    outline: 1px solid gray;
}

.filters input {
    margin: 0 .25rem 0 0;
}

.grid-pagination-controls .page__number {
    padding: 0 .75rem;
}

.grid-pagination-controls > li:hover {
    color: maroon;
    cursor: pointer;
}

.grid-pagination-controls .selected__page__number {
    background-color: maroon;
    color: white;
    font-weight: bold;
}

input.form-control,
div.form-control {
    margin-bottom: 1rem;
    outline: 1px solid grey;
    width: 100%;
    padding: .5rem;
}

.alert {
    padding: 1rem 1.25rem;           /* Padding for the alert */
    border: 1px solid transparent;    /* Initial border styling */
    border-radius: 0.25rem;           /* Rounded corners */
    margin-bottom: 1rem;              /* Space below alert */
    font-size: 1rem;                  /* Font size */
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 1rem;
}

@media screen and (min-width: 900px){
    .swiper {
        /* width: 470px !important; */
        max-width: 60vw;
    }
}