@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

* {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.children-hover-gray a {
    display: block;
    margin: .5rem 0 .5rem 0;
}

.children-hover-gray a:hover {
    color: gray;
}